<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Purpose</th>
        <th>withdrawal time (days)</th>
    </tr>
    {{#each druglist as |drug| }}
    <tr>
        <td>{{drug.name}}</td>
        <td>{{drug.purpose}}</td>
        <td>{{drug.withdrawalperiod}}</td>
    </tr>
    {{/each}}
</table>