<table>
    <tr>
        <th>Name</th>
        <th>Purpose</th>
        <th>withdrawal time</th>
    </tr>
    <tr>
        <td>Aspirin</td>
        <td>pain relief</td>
        <td>no</td>
    </tr>
</table>