<h1>Home Page</h1>
<form id="myForm">
    <input type="search" id="mySearch">
</form>
<table>
    <tr>
        <th>Tag Number</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    {{#each cows as |cow| }}
    <tr>
        <td><a href = '/cowPage/{{cow.cowId}}'>{{cow.eartag}}</a></td>
        <td>{{cow.description}}</td>
    </tr>


    {{/each}}
</table>

<form method="POST" action="/addCow">
    <button type="submit" >Add cow</button>
</form>
<form method="POST" action="/treatment">
    <button type="submit" >Add treatment</button>
</form>
