<h1>Home Page</h1>
<form id="myForm">
    <input type="search" id="mySearch">
</form>
<table>
    <tr>
        <th>Tag Number</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    {{#each cows as |cow| }}
    <tr>
        <td><a href = '/cowPage/{{cow.cowId}}'>{{cow.eartag}}</a></td>
        <td>{{cow.description}}</td>
    </tr>


    {{/each}}
</table>
<a href='/addCow'>Add Cow</a>
<a href='/treatment'>Add Treatment</a>

<form method="POST" action="/druglist">
    <button type="submit" >View medicines</button>
</form>