<h1>Home Page</h1>
<form id="myForm">
    <input type="search" id="mySearch">
</form>
<table>
    <tr>
        <th>Tag Number</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    <tr>
        <td><a href = '/cowPage/1234'>1234</a></td>
        <td>black</td>
        <td>breeding cow</td>
    </tr>
    <tr>
        <td>567</td>
        <td>spots</td>
        <td>steer</td>
    </tr>
    <tr>
        <td>987</td>
        <td>red</td>
        <td>sold</td>
    </tr>
</table>
{{#each cows as |cow| }}
    <p>{{cow.description}}</p>
    {{/each}}
<form method="POST" action="/addCow">
    <button type="submit" >Add cow</button>
</form>
<form method="POST" action="/treatment">
    <button type="submit" >Add treatment</button>
</form>
