body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.flex-horizontal {
  display: flex;
  align-items: center;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-horizontal div {
  margin-right: 10px;
}

.greedy-flex {
  flex: 1 1 100%;
}

.flexless {
  flex: 0 0 auto;
}

@media (min-width: 768px) {
  .dl-horizontal dt {
    text-align: left !important;
  }
}